{% extends 'base.html.twig' %}

{% block title %}Edit UserEnexse{% endblock %}

{% block body %}
    <h1>Edit UserEnexse</h1>

    {{ include('user_enexse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_enexse_index') }}">back to list</a>

    {{ include('user_enexse/_delete_form.html.twig') }}
{% endblock %}
