{% extends 'base.html.twig' %}

{% block title %}New UserEnexse{% endblock %}

{% block body %}
    <h1>Create new UserEnexse</h1>

    {{ include('user_enexse/_form.html.twig') }}

    <a href="{{ path('app_user_enexse_index') }}">back to list</a>
{% endblock %}
